h2 {
    margin: .25em;
}

#header .logo::after {
    content: "for Aurora and Autorentool";
    color: gold;
    font-family: Georgia, sans-serif;
    font-size: 240%;
    font-style: italic;
    margin-left: 165px;
    vertical-align: bottom;
}

#main-panel,
#side-panel {
    padding: 10px 15px;
    padding-bottom: 40px;
}

#main-panel {
    padding-left: 0;
}

#description-link {
    display: none;
}

#footer {
    display: block;
    max-height: 32px;
    overflow: auto;
}

#tasks .task {
    margin-bottom: 0;
}

#projectstatus th ,
.bigtable td{
    padding: 2px;
}



.build-row.multi-line .build-row-cell .pane.build-name.block {
    width: 95%;
}
.build-row.multi-line .build-row-cell .block {
    overflow: inherit;
}